body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0f2027;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.btn {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}

.input-control label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
    font-size: 14px;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.input-control input:focus {
    outline: 0;
    border-color: #007bff;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    margin-top: 5px;
    height: 16px;
}
